*.swp
*~
*.bak
*.old
*.output
*.out
*.rej
*.orig
.nfs*
*_src
*.compiled
*.nolines
*dependencies
*configure
*stamp-h.in
*config.h.in
*_machine.h.in
bin/pike
Pike*
build
.build*
xenofarm_result
src/backend.c
src/builtin.c
src/case_info.h
src/facetgroup.c
src/interpret_functions_fixed.h
src/interpret_protos.h
src/iterators.c
src/language.[ch]
src/machine.h.in
src/modules/Gmp/mpf.c
src/modules/Gmp/mpq.c
src/modules/Kerberos/kerberos.c
src/modules/Math/transforms.c
src/modules/Parser/xml.c
src/modules/_Charset/gb18030.h
src/modules/_Charset/gbk_tables.h
src/modules/_PGsql/PGsql.c
src/modules/_Regexp_PCRE/pcre_glue.c
src/modules/system/add-errnos.h
src/treeopt.h
src/peep_engine.c
src/post_modules/Bz2/libbzip2mod.c
src/post_modules/GSSAPI/gssapi.c
src/post_modules/Nettle/cipher.c
src/post_modules/Nettle/hash.c
src/post_modules/Nettle/nettle.c
src/post_modules/Nettle/nt.c
src/post_modules/SDL/SDL.c
src/post_modules/SQLite/sqlite.c
src/post_modules/Shuffler/Shuffler.c
src/post_modules/Unicode/canonicals.h
src/post_modules/Unicode/decompositions.h
src/post_modules/Unicode/unicode_module.c
src/post_modules/Unicode/uversion.h
src/post_modules/Unicode/wordbits.h
src/post_modules/_ADT/adt.c
src/post_modules/_ADT/circular_list.c
src/post_modules/_ADT/sequence.c
